.dialogbtn{
    width: 80px;
    font-size: bold;
    font-weight: 600;
    height: 31px;
}
:host /deep/ tr.blRed {
    color: red;
    }
    :host /deep/ tr.blOrange {
    color:rgb(173, 114, 7);

    }    
.fot { 
    z-index: 99;    
    width: 100%;
    }
    .search-btn{
    color: #fff !important;
    font-weight: normal !important;
    display: block !important;
    text-align: center;
    height: 45px !important;
    font-size: 15px !important;
    line-height: 45px !important;
    border-radius: 2px !important;
    background: linear-gradient(45deg, #0d8a74 0%, #76cd50 100%) !important;
    -webkit-transition: all 0.3s !important;
    transition: all 0.3s !important;
    border: none !important;
    width: 100% !important;
    margin-bottom: 0px;
    margin-top: 0px;
    align-content: center;
    vertical-align: middle;
    cursor: pointer;}